
div {
    background-color: black;
}

#soslogo {
    width:100%;
    height: 1.5cm;
}

#logo {
    text-align: center;
    height: 2cm;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}

ul {
    display:flex ;
    justify-content: space-around;
}

li {
    width: 20%;
    text-align: center;
}


h2 {
    text-align: center;
    padding-top: 50px;
}

img {
    width: 7cm;
}

a {
    color: bisque;
    text-decoration: none;
}
#images {
    display:flex;
    justify-content:center;
    background-color: white;
}

#buttonadd {
    background-color: white;
    display: flex;
    justify-content: center;
}

#add {
    display: flex;
    justify-content:end
}



#sosbasket {
    width:100%;
    height: 0.5cm;
}

#sosbasketatag {
    padding: 5px 5px 5px 5px;
}

#info {
    text-align: end;
    background-color: white;
}